<a ui-sref="dashboard" class="logo">
    <span class="logo-mini"><b>P</b>F</span>
    <span class="logo-lg"><i class="fa fa-line-chart"></i> <b>Personal</b>Finance</span>
</a>

<nav class="navbar navbar-static-top">
    <a href class="sidebar-toggle" data-toggle="push-menu" role="button"></a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown user user-menu" ng-include="'/template/header/user.html'"
                ng-controller="authController as auth"></li>
        </ul>
    </div>
</nav>

