<div role="form">
        <div class="box-body">
            <field id="name" label="Name" grid="12 6 4" model="bCtrl.billingCycle.name"></field>
            <field id="month" label="Month" grid="12 6 4" type="number" model="bCtrl.billingCycle.month"></field>
            <field id="year" label="Year" grid="12 6 4" type="number" model="bCtrl.billingCycle.year"></field>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary" ng-click="bCtrl.create()" ng-if="bCtrl.tabCreate">Create</button>
            <button class="btn btn-warning" ng-if="bCtrl.tabUpdate">Update</button>
            <button class="btn btn-danger" ng-if="bCtrl.tabDelete">Delete</button>
            <button class="btn btn-default" ng-click="bCtrl.refresh()">Cancel</button>
        </div>
    </div>