<content-header title="Payment Cycle" subtitle="Register"></content-header>

<section class="content">
    <div class="nav-tabs-custom" ng-controller="billingController as bCtrl">
        <ul class="nav nav-tabs">
            <li ng-if="bCtrl.tabList" ng-class="{active: bCtrl.tabList}">
                <a href data-target="#tabList" data-toggle="tab">
                    <i class="fa fa-bars"></i> List
                </a>
            </li>
            <li ng-if="bCtrl.tabCreate">
                <a href data-target="#tabCreate" data-toggle="tab">
                    <i class="fa fa-plus"></i> Create
                </a>
            </li>
            <li ng-if="bCtrl.tabUpdate" ng-class="{active: bCtrl.tabUpdate}">
                <a href data-target="#tabUpdate" data-toggle="tab">
                    <i class="fa fa-pencil"></i> Update
                </a>
            </li>
            <li ng-if="bCtrl.tabDelete" ng-class="{active: bCtrl.tabDelete}">
                <a href data-target="#tabDelete" data-toggle="tab">
                    <i class="fa fa-trash-o"></i> Delete
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="tabList" ng-include="'billingCycle/list.html'" 
                ng-if="bCtrl.tabList" ng-class="{active: bCtrl.tabList}"></div>

            <div class="tab-pane" id="tabCreate" ng-include="'billingCycle/form.html'"
                ng-if="bCtrl.tabCreate"></div>

            <div class="tab-pane" id="tabUpdate" ng-include="'billingCycle/form.html'"
                ng-if="bCtrl.tabUpdate" ng-class="{active: bCtrl.tabUpdate}"></div>
            
            <div class="tab-pane" id="tabDelete" ng-include="'billingCycle/form.html'"
                ng-if="bCtrl.tabDelete" ng-class="{active: bCtrl.tabDelete}"></div>
        </div>
    </div>
</section>